body {
  background-color: #262525;
  margin: 0;
  padding: 0;
}

.title {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.75px;
  margin-bottom: 50px;
}

.btn {
  cursor: pointer;
  width: 248px;
  height: 68px;
  background: #666;
  border: none;
  border-radius: 30px;

  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 17px;
  font-weight: 500;
}

ul {
  list-style: none;
  display: flex;
  float: right;
  margin-top: 55px;
  margin-right: 117px;
  margin-bottom: 100px;
}

li > a {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

li {
  margin-right: 35px;
}

li > a.checked {
  text-decoration-line: underline;
}

p,
h2,
li {
  color: #fff;
}

.about-me {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 100px;
}

.about-me__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__profile-img {
  border-radius: 151.595px;
  border: none;
}

.about-me__profile-name {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -40px;
}

.about-me__profile-role {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 20px;
  font-weight: 500;
}

.about-me__info-text {
  max-width: 584px;
}

.about-me__info-text > p {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -20px;
}

.about-me__info-text > p:last-child {
  margin-bottom: 0;
}

.about-me__info-tech-stack {
  display: flex;
  align-items: center;
}

.tech-stack-logos {
  margin-right: 10px;
}

.tech-stack-logos > img {
  margin-right: 5px;
}

.about-me__info-tech-stack > p {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 16px;
  font-weight: 500;
}

.portfolio {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.portfolio__projects {
  display: flex;
  justify-content: space-between;
}

.portfolio__projects-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15vw;
  margin-bottom: 30px;
}

.portfolio__projects > .portfolio__projects-info:last-child {
  margin: 0;
}

.portfolio__projects-info > p {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2.2px;
}

.contacts {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.contacts__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item > p {
  color: #fff;
  font-family: "Inknut Antiqua";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.25px;
}

.contacts__item > img {
  margin-right: 25px;
}

.contacts__items > .contacts__item:last-child > img {
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .about-me,
  .portfolio,
  .contacts {
    width: 85vw;
  }
}

@media (max-width: 1091px) {
  li > a {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }

  .btn {
    width: 188px;
    height: 48px;

    font-size: 14px;
  }

  .about-me__profile-name {
    font-size: 18px;
  }

  .about-me__profile-role {
    font-size: 15px;
  }

  .about-me__info-text > p {
    font-size: 15px;
  }

  .about-me__profile-img {
    width: 230px;
  }

  .tech-stack-logos > img {
    width: 28px;
  }

  .about-me__info-tech-stack > p {
    font-size: 13px;
  }

  .portfolio__projects-info > img {
    width: 320px;
  }

  .portfolio__projects-info > p {
    font-size: 18px;
  }

  .contacts__item > img {
    width: 60px;
  }

  .contacts__item:last-child > img {
    width: 75px;
  }

  .contacts__item > p {
    font-size: 20px;
  }
}

@media (max-width: 958px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 830px) {
  ul {
    margin-right: 20px;
  }

  .portfolio__projects-info {
    margin-right: 0;
  }

  .portfolio__projects > .portfolio__projects-info:last-child {
    margin-bottom: 40px;
  }

  .portfolio__projects {
    flex-direction: column;
  }
}

@media (max-width: 530px) {
  li > a {
    font-size: 14px;
    white-space: inherit;
  }

  li {
    margin-right: 20px;
  }

  .about-me__info-text > p {
    font-size: 13px;
  }

  .tech-stack-logos > img {
    width: 20px;
    margin-right: 2px;
  }

  .about-me__info-tech-stack > p {
    font-size: 10px;
  }

  .contacts__item > p {
    font-size: 12px;
  }

  .contacts__item > img {
    width: 35px;
    margin-right: 10px;
  }

  .contacts__items .contacts__item:last-child > img {
    width: 50px;
    margin-right: 0px;
  }
}
